html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    overflow: hidden;
}

.grayBackground {
    background-color: #ffffff;
    size:100%;
    z-index:999;
}

.mainText {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-family: 'Preahvihear', sans-serif;
    font-size: 10vw;
    background-color: #0f0f0f;
    background: linear-gradient(to bottom right, #E62BA8, #E33059, #E24141, #F1733D, #FCDB64, #49E25B, #30CC9F, #39D2C0, #44AAEA, #5D6AF3, #A24BCE, #C028B6, #E62BA8, #E33059, #E24141, #F1733D);
    background-size: 400% 400%; /* Adjusted the size to 600% */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: none;
    position: absolute;
    display: flex;
    height: 12.5vw;
    width: min-content;
    align-items: center;
    justify-content: center;
    animation: gradient 15s linear infinite;
    fill-color:#ffffff;
    position: absolute; /* Ensure absolute positioning */
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
